@font-face {
    font-family:"ass";
    src: url(../fonts/BebasNeue-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
     max-width: 1920px;
}

.center{
    font-family: ass;
    margin-inline: auto;
}
/* ------------------------------------------------ */

.logo img{
    width: 100px;  
}
.logo{
  padding:0 1em ;

}
.navbar-nav{
    align-items: center;
    
}
.navbar .navbar-nav .nav-item{
    padding:.5em 01em ;
    font-size: 1.1em;
}
.navbar .navbar-nav .logo{
    padding-inline: 3em;
}

/* above is navbar -----------------------------------*/
.stage img{
    width: 100%;
}
/* this fixes the img ratio */

.header{

    position: absolute;
    padding-left: 10px;
}
.stage-container h1{
    color: white;
    margin-top: 0;
    font-size: 38px;
    line-height: 32px;
}
.stage-container h2 {
    color: white;
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
    max-width: 620px;
}
.stage-container{
    position: absolute;
    padding:50px 80px 150px ;  
}
.stage-button {
    margin-top: 21px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    padding: 12px 20px;
    display: table;
    line-height: 1;
    color: rgb(255, 255, 255);
    border: 1px solid;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}
.stage-button:hover{
    color: black;
    background: white;
    border: 1px solid white
}

/* ----------------------STAGE---------------------------- */

.collage h2{
    font-size: 38px;
    line-height: 32px;
    margin: 0 0 40px 10px;
    padding: 0;
    text-transform: uppercase;
    font-weight: 600;
    color: #000;

}


.pic1 img{
    
     width: 100%;
}
.pic2 img{
 
    width: 100%;
}
.pic3 img{
    width: 100%;
}
.pic4 img{
    
    width: 100%;
}
.pic5 img{

   width: 100%;
}
.pic6 img{
   width: 100%;
}


.pic1{
    padding-bottom: 11px;
    position: relative;
    cursor: pointer;
    margin: 0 0 10px 10px;
    grid-area: pic1;
}
.pic2{
    position: relative;
    cursor: pointer;
    margin: 0 0 10px 10px;
    grid-area: pic2;
}
.pic3{
    position: relative;
    cursor: pointer;
    margin: 0 0 10px 10px;
    grid-area: pic3;
}
.pic4{
    padding-bottom: 11px;
    position: relative;
    cursor: pointer;
    margin: 0 0 10px 10px;
    grid-area: pic4;
}
.pic5{
    position: relative;
    cursor: pointer;
    margin: 0 0 10px 10px;
    grid-area: pic5;
}
.pic6{
    position: relative;
    cursor: pointer;
    margin: 0 0 10px 10px;
    grid-area: pic6;
}


.pic1 figcaption{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    background: rgba(0,0,0,.5);
    padding: 10px;
    margin-top: -50px;
}
.pic2 figcaption{

    margin-top:-50px ;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
.pic3 figcaption{
    margin-top:-50px ;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    background: rgba(0,0,0,.5);
    padding: 10px;
}
.pic4 figcaption{
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    background: rgba(0,0,0,.5);
    padding: 10px;
    margin-top: -50px;
}
.pic5 figcaption{

    margin-top:-50px ;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    background: rgba(255, 255, 255, 0.5);
    padding: 10px;
}
.pic6 figcaption{
    margin-top:-50px ;
    font-size: 1.2em;
    text-transform: uppercase;
    font-weight: 300;
    line-height: 1;
    color: #fff;
    background: rgba(0,0,0,.5);
    padding: 10px;
}



.collage{
    padding: 50px;
}
.gallery-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "pic1 pic1 pic2 pic2 pic2 pic2"
    "pic3 pic3 pic2 pic2 pic2 pic2"
    "pic4 pic4 pic5 pic5 pic6 pic6";
}

/* --------------------------MODELS------------------------ */
/* ---------------FOOTER WITH EMBEDED MAP-------------- */

.page-footer{
    background-color: #000;
    font-size: 12px;
    text-transform: uppercase;
     padding: 40px 50px 15px 50px;
} 
.nets li {
    padding: 0;
    margin: 0 1em;
    width: 30px;
    height: 30px;
    position: relative;
    display: block;

}
.nets ul {
    
    list-style: none;
    display: flex;
    align-items: center ;
    justify-content: center;

}
.nets i{
    color: white;
    font-size: 25px;
    
}
.nets{
    margin-left:0%; 
}
.copyrgt{
     list-style: none;
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.short-links{
    margin-top: 3.5em;
}
.short-links ul{
    
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
.short-links li{
    font-size: 12px;
    color: #a2a2a2;
    font-weight: 300;
    margin: 0 15px;
}
  


